.ListItems{
  //background: url("public/images/buket1.jpg") no-repeat;
  //background: url(images/bg1.jpg) no-repeat center top fixed;
  //background-color: #8d81ac;
  //background-color: pink;
  //background-blend-mode: darken;
  //background-size: cover;
  //background-attachment: fixed;
  //height: 1825px;
  //background-position-y: -280px;
  display: flex;
  padding: 20px 100px 0 100px;
  flex-wrap: wrap;
  justify-content: space-between;
}