.navbar__wrapper{
  display: flex;
  justify-content: space-around;
margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-left: 0;
}
.navbar__wrapper-link{
  list-style: none;
}


.navbar__link{
  text-decoration: none;
  color: darkblue;

}
.link-active{
  font-weight: bold;
  color: purple;
}